.container {
    display: flex;
    min-height: 100vh;
    background-color: #f9fafb;
}

.mainContent {
    flex: 1;
    margin-left: 250px;
    /* Width of Sidebar */
    display: flex;
    flex-direction: column;
}

.pageContent {
    padding: 2rem;
    flex: 1;
}