.tableWrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table th {
    padding: 0.75rem 1rem;
    background-color: transparent;
    font-weight: 500;
    color: var(--text-secondary);
    border-bottom: 1px solid var(--card-border);
}

.table td {
    padding: 1rem;
    border-bottom: 1px solid var(--card-border);
    color: var(--text-primary);
}

.table tr:last-child td {
    border-bottom: none;
}
